.desktop__nav .blog__ul {
  li {
    color: var(--dark-blue) !important;
    font-weight: 600 !important;
    &::after {
      background-color: var(--dark-blue) !important;
    }
  }
}

.secondary__button {
  color: var(--dark-blue);
  border: 2px solid var(--dark-blue);
  background-color: transparent;
  padding: 8px 16px;
  margin-left: 20px;
  letter-spacing: 0.15px;
  font-weight: 600;
  &:hover {
    background-color: var(--dark-blue);
    color: white;
    border-color: var(--dark-blue);
  }
}
