@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600&family=Merriweather:wght@700&display=swap");
.container {
  width: 80%;
  overflow: hidden;
  margin: auto;
}

h1 {
  font-family: 'Merriweather', sans-serif;
  color: white;
  font-size: 48px;
  line-height: 55px;
  font-weight: 700;
}

p {
  font-weight: 400;
  line-height: 30px;
  color: var(--dark-blue);
  opacity: 80%;
}

.primary__button {
  height: 100%;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.primary__button:hover {
  opacity: 90%;
}

.caption,
.footer__link {
  color: var(--link);
  font-size: 14px;
  line-height: 21px;
  max-width: 170px;
  padding-top: 20px;
  opacity: 1;
}

.hero__section {
  background: url("https://res.cloudinary.com/achraf-dev/image/upload/v1630269985/hero_buymwb.jpg");
  min-height: 800px;
  background-size: cover;
}

.hero__section .hero__content {
  margin-top: 220px;
  max-width: 600px;
}

.hero__section .hero__content p {
  color: white;
  font-size: 20px;
  opacity: 100%;
  font-weight: 400;
  margin: 35px 0 70px 0;
  width: 80%;
}

.hero__section .hero__content .newsletter__form {
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__section .hero__content .newsletter__form input {
  font-family: inherit;
  font-size: 17px;
  width: 320px;
  height: 100%;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 0 15px;
}

.hero__section .hero__content .newsletter__form input::-webkit-input-placeholder {
  opacity: 80%;
}

.hero__section .hero__content .newsletter__form input:-ms-input-placeholder {
  opacity: 80%;
}

.hero__section .hero__content .newsletter__form input::-ms-input-placeholder {
  opacity: 80%;
}

.hero__section .hero__content .newsletter__form input::placeholder {
  opacity: 80%;
}

.hero__section .hero__content .newsletter__form button {
  background-color: var(--blue);
  padding: 0 25px;
  margin-left: 13px;
}

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: transparent;
}

nav {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav__items .nav__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

nav .nav__items .nav__list ul li {
  position: relative;
  color: white;
  margin: 0 20px;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}

nav .nav__items .nav__list ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -3px;
  -webkit-transform: translateX(-50%) scaleX(0);
          transform: translateX(-50%) scaleX(0);
  height: 2px;
  background-color: white;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  width: 100%;
}

nav .nav__items .nav__list ul li:hover::after {
  -webkit-transform: translateX(-50%) scaleX(1);
          transform: translateX(-50%) scaleX(1);
}

nav .nav__items button {
  padding: 12px 18px;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: inherit;
  margin-left: 20px;
  letter-spacing: 0.15px;
  cursor: pointer;
  font-size: 15px;
}

nav .nav__items button:hover {
  background-color: var(--blue);
  border-color: var(--blue);
  opacity: 1;
}

.dashboard__section {
  position: relative;
  margin-top: 400px;
  height: 100vh;
}

.dashboard__section .container {
  overflow: visible;
}

.dashboard__section .container .mockup__container {
  position: absolute;
  right: -550px;
  top: -250px;
}

.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 180px;
}

.content {
  max-width: 500px;
}

.content h1 {
  color: var(--dark-blue);
}

.content p {
  margin: 30px 0 35px 0;
}

.learn__more {
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.learn__more span {
  color: var(--blue);
  margin-right: 10px;
  font-size: 16px;
  font-weight: 600;
}

.learn__more svg {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.learn__more:hover {
  opacity: 80%;
}

.learn__more:hover svg {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.testimonials__section .container {
  overflow: visible;
}

.testimonials__section .container h1 {
  text-align: center;
  color: var(--dark-blue);
}

.testimonials__section .container .cards__grid {
  margin-top: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (370px)[4];
      grid-template-columns: repeat(4, 370px);
  -ms-grid-rows: 380px;
      grid-template-rows: 380px;
  gap: 30px;
}

.testimonials__section .container .arrows__container {
  margin-top: 50px;
  -ms-grid-columns: (42px)[2];
      grid-template-columns: repeat(2, 42px);
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 13px;
}

.testimonials__section .container .arrows__container .arrow {
  cursor: pointer;
}

.testimonials__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 35px 5px rgba(16, 60, 112, 0.08);
          box-shadow: 0px 10px 35px 5px rgba(16, 60, 112, 0.08);
  padding: 40px;
}

.testimonials__card p {
  padding: 20px 0;
  max-width: 260px;
}

.testimonials__card .author__container {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__card .author__container .avatar__container {
  position: relative;
  border-radius: 100%;
  overflow: hidden;
  width: 56px;
  height: 56px;
}

.testimonials__card .author__container .author__content {
  margin-top: 5px;
  margin-left: 20px;
}

.testimonials__card .author__container .author__content h4 {
  color: var(--dark-blue);
  line-height: 0.85;
}

.testimonials__card .author__container .author__content span {
  font-size: 14px;
  color: var(--dark-blue);
  opacity: 80%;
}

footer {
  background-color: rgba(33, 55, 87, 0.95);
  padding: 60px 0;
  height: 444px;
  margin-top: 100px;
}

footer .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

footer .flex .footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 120px;
}

footer .flex .footer__body ul {
  margin-left: 120px;
  list-style: none;
}

footer .flex .footer__body ul li {
  line-height: normal;
  margin-bottom: 8px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

footer .flex .footer__body ul li:hover {
  color: var(--blue);
}

footer .flex .footer__body ul .title {
  color: white;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 15px;
  cursor: auto;
}

footer .flex .footer__body ul .title:hover {
  color: white;
}

footer .footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__bottom p {
  color: var(--link);
  opacity: 0.3;
  font-size: 13px;
}

footer .footer__bottom .terms {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

footer .footer__bottom .terms:hover {
  color: var(--blue);
  opacity: 1;
}

.logo__container {
  width: 71px;
  height: 31px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.app__container {
  min-height: 100vh;
  overflow: hidden;
  font-size: 18px;
  font-family: 'Cabin', sans-serif;
  background-color: var(--off-white);
}

.app__container .wrapper {
  min-width: 250px;
  max-width: 2000px;
}

:root {
  --blue: #1ac5f9;
  --dark-blue: #213757;
  --off-white: #f5f7fa;
  --link: #ffffff99;
}
/*# sourceMappingURL=default.css.map */