.dashboard__section {
  margin: 400px 0;
  @media screen and (max-width: 850px) {
    margin-top: 120px;
    margin-bottom: 800px;
  }

  .container {
    position: relative;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 850px) {
      flex-flow: column nowrap;
    }
    .mockup__container {
      position: absolute;
      right: -550px;
      @media screen and (max-width: 1300px) {
        right: -750px;
      }
      @media screen and (max-width: 1050px) {
        right: -950px;
      }
      @media screen and (max-width: 850px) {
        top: 300px;
        right: -550px;
      }
      @media screen and (max-width: 650px) {
        right: -750px;
      }
      @media screen and (max-width: 550px) {
        right: -850px;
      }
      @media screen and (max-width: 450px) {
        top: 460px;
      }
    }
  }
}
