.article__detail {
  .article__detail__header {
    max-width: 700px;
    margin: 200px auto 30px auto;
    h1 {
      color: var(--dark-blue);
    }
    .blog__avatar__content {
      .avatar__container {
        width: 40px;
        height: 40px;
      }
      .author__info {
        span {
          font-size: 15px;
        }
        .vertical__line {
          margin: 2px 20px;
        }
      }
    }
  }
  .article__detail__body {
    .img__container {
      position: relative;
      max-width: 900px;
      height: 614px;
      margin: auto;
      margin-top: 60px;
    }
    .article__body__container {
      margin: 100px auto;
      max-width: 700px;
      .content {
        max-width: 700px;
        p {
          width: 100% !important;
          color: var(--black);
          opacity: 1;
          line-height: 30px;
        }
      }
      .author__container {
        margin-top: 100px;
        display: flex;
        .avatar__container {
          position: relative;
          width: 55px;
          height: 55px;
          overflow: hidden;
          border-radius: 100%;
        }
        .author__content {
          margin-left: 30px;
          span {
            font-size: 16px;
            font-weight: 700;
            line-height: 19px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: var(--dark-blue);
            opacity: 0.3;
          }
          h4 {
            font-size: 23px;
            font-weight: 400;
            line-height: 29px;
            letter-spacing: 0em;
            text-align: left;
            color: var(--dark-blue);
            margin-top: 5px;
          }
          p {
            font-size: 15px;
            max-width: 300px;
            line-height: 24px;
            margin-top: 5px;
          }
        }
      }
    }
  }
}
