.author__content {
  display: flex;
  align-items: center;
  color: var(--dark-blue);
  padding-top: 30px;
  .avatar__container {
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 100%;
    overflow: hidden;
  }
  .author__info {
    display: flex;
    margin-left: 15px;
    span {
      font-size: 14px;
      opacity: 80%;
    }
    .vertical__line {
      margin: 0 10px;
      display: block;
      width: 1px;
      height: 15px;
      margin-top: 2px;
      background-color: var(--dark-blue);
      opacity: 80%;
      transform: rotate(180deg);
    }
  }
}
