nav {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo__container {
    width: 71px;
    height: 31px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .nav__items {
    display: flex;
    align-items: center;
    .nav__list ul {
      display: flex;
      list-style: none;
      li {
        position: relative;
        color: white;
        margin: 0 20px;
        font-size: 15px;
        font-weight: 400;
        cursor: pointer;
        &::after {
          content: '';
          position: absolute;
          left: 50%;
          bottom: -3px;
          transform: translateX(-50%) scaleX(0);
          height: 2px;
          background-color: white;
          transition: all 0.25s;
          width: 100%;
        }
        &:hover {
          &::after {
            transform: translateX(-50%) scaleX(1);
          }
        }
      }
    }
    button {
      padding: 12px 18px;
      background-color: rgba(0, 0, 0, 0.2);
      font-family: inherit;
      margin-left: 20px;
      letter-spacing: 0.15px;
      cursor: pointer;
      font-size: 15px;
      &:hover {
        background-color: var(--blue);
        border-color: var(--blue);
        opacity: 1;
      }
    }
  }
}
