.hero__section {
  background: url('https://res.cloudinary.com/achraf-dev/image/upload/v1630269985/hero_buymwb.jpg');
  min-height: 800px;
  background-size: cover;
  .hero__content {
    margin-top: 220px;
    max-width: 600px;
    p {
      color: white;
      font-size: 20px;
      opacity: 100%;
      font-weight: 400;
      margin: 35px 0 70px 0;
      width: 80%;
    }
    .newsletter__form {
      height: 56px;
      display: flex;
      input {
        font-family: inherit;
        outline: none;
        border: none;
        &::placeholder {
          opacity: 80%;
          color: var(--dark-blue);
        }
      }
      button {
        background-color: var(--blue);
        padding: 0 25px;
        margin-left: 13px;
      }
    }
  }
}
