.hero__section {
  background: url('https://res.cloudinary.com/achraf-dev/image/upload/v1630269985/hero_buymwb.jpg');
  min-height: 800px;
  background-size: cover;
  .hero__content {
    margin-top: 220px;
    max-width: 600px;
    @media screen and (max-width: 500px) {
      margin-top: 150px;
    }
    h1 {
      @media screen and (max-width: 700px) {
        font-size: 40px;
      }
      @media screen and (max-width: 300px) {
        font-size: 33px !important;
      }
    }
    p {
      color: white;
      font-size: 20px;
      opacity: 100%;
      font-weight: 400;
      margin: 35px 0 70px 0;
      width: 80%;
      @media screen and (max-width: 700px) {
        margin: 20px 0 55px 0;
      }
    }
    .newsletter__form {
      display: flex;
      @media screen and (max-width: 700px) {
        flex-flow: column nowrap;
      }
      input {
        font-family: inherit;
        outline: none;
        border: none;
        height: 56px !important;
        &::placeholder {
          opacity: 80%;
          color: var(--dark-blue);
        }
        @media screen and (max-width: 700px) {
          width: 100% !important;
        }
      }
      button {
        background-color: var(--blue);
        padding: 0 25px;
        margin-left: 13px;
        height: 56px;
        @media screen and (max-width: 700px) {
          margin-left: 0;
          margin-top: 15px;
        }
      }
    }
  }
}
