.blog__section {
  margin-top: 180px;
  h1 {
    color: var(--dark-blue);
    margin-bottom: 20px;
  }
  .blog__grid {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    gap: 60px 30px;
  }
}
