footer {
  background-color: rgba(33, 55, 87, 0.95);
  padding: 60px 0 20px 0;
  margin-top: 100px;

  .flex {
    display: flex;
    margin-bottom: 150px;
    @media screen and (max-width: 1100px) {
      flex-flow: column nowrap;
    }
    @media screen and (max-width: 850px) {
      align-items: center;
      text-align: center;
    }
    .footer__head {
      @media screen and (max-width: 850px) {
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
        margin-bottom: 50px;
      }
    }
    .footer__body {
      display: flex;
      gap: 100px;
      @media screen and (max-width: 1300px) {
        gap: 60px;
      }
      @media screen and (max-width: 1200px) {
        gap: 40px;
      }
      @media screen and (max-width: 1100px) {
        gap: 80px;
      }
      @media screen and (max-width: 1000px) {
        gap: 60px;
      }
      @media screen and (max-width: 850px) {
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;
      }
    }
  }
  .flex__no__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media screen and (max-width: 850px) {
      flex-flow: column nowrap;
      align-items: center;
    }
  }
  .footer__bottom {
    display: flex;
    justify-content: space-between;
    p {
      color: var(--link);
      opacity: 0.3;
      font-size: 13px;
    }
    .terms {
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      &:hover {
        color: var(--blue);
        opacity: 1;
      }
    }
  }
}

ul {
  list-style: none;
  li {
    line-height: normal;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
      color: var(--blue);
    }
  }
  .special {
    cursor: auto;
    &:hover {
      color: var(--link);
    }
  }
  .form__input {
    position: relative;
    width: 280px !important;
    svg {
      position: absolute;
      top: 18px;
      right: 10px;
      cursor: pointer;
      path {
        fill: rgba(255, 255, 255, 0.2);
        transition: all 0.2s ease-in-out;
      }
      &:hover {
        path {
          fill: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }
  .title {
    color: white;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    cursor: auto;
    &:hover {
      color: white;
    }
  }
}

.newsletter {
  margin-left: 60px;
  @media screen and (max-width: 1200px) {
    margin-left: 20px;
  }
  @media screen and (max-width: 1100px) {
    margin-left: 0px;
  }
  @media screen and (max-width: 850px) {
    margin-top: 60px;
    .special {
      max-width: 500px !important;
      text-align: center;
    }
  }
}
