.container {
  width: 80%;
  overflow: hidden;
  margin: auto;
}

.content {
  max-width: 500px;
  h1 {
    color: $dark-blue;
  }
  p {
    margin: 30px 0 35px 0;
  }
}

h1 {
  font-family: 'Merriweather', sans-serif;
  color: white;
  font-size: 48px;
  line-height: 55px;
  font-weight: 700;
}

p {
  font-weight: 400;
  line-height: 30px;
  color: $dark-blue;
  opacity: 80%;
}

.primary__button {
  height: 100%;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    opacity: 90%;
  }
}
