@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600&family=Merriweather:wght@700&display=swap');
@import './global';
//styles
@import '../components/Hero/hero';
@import '../components/Header/header';
@import '../components/NavBar/navbar';
@import '../components/Dashboard/dashboard';
@import '../components/Advantages/advantages';
@import '../components/Advantages/Item/item';
@import '../components/Content/content';
@import '../components/Content/LearnMore/learn-more';
@import '../components/Testimonials/testimonials';
@import '../components/Testimonials/Card/card';
@import '../components/Footer/footer';
@import '../components/Logo/logo';
@import '../components/Forms/Input/input';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app__container {
  min-height: 100vh;
  overflow: hidden;
  font-size: 18px;
  font-family: 'Cabin', sans-serif;
  background-color: var(--off-white);
  .wrapper {
    min-width: 250px;
    max-width: 2000px;
  }
}

:root {
  --blue: #1ac5f9;
  --dark-blue: #213757;
  --off-white: #f5f7fa;
  --link: #ffffff99;
}
