@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600&family=Merriweather:wght@700&display=swap');
@import './global';
//styles
@import '../components/Hero/hero';
@import '../components/Header/header';
@import '../components/Header/NavBar/navbar';
@import '../components/Dashboard/dashboard';
@import '../components/Advantages/Item/item';
@import '../components/Content/content';
@import '../components/Content/LearnMore/learn-more';
@import '../components/Testimonials/testimonials';
@import '../components/Testimonials/Card/card';
@import '../components/Footer/footer';
@import '../components/Logo/logo';
@import '../components/Forms/Input/input';
@import '../components/Header/BlogNavBar/navbar';
@import '../components/Articles/articles';
@import '../components/Articles/Article/article';
@import '../components/ArticleDetail/article-detail';
@import '../components/Author/author';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app__container {
  min-height: 100vh;
  overflow: hidden;
  font-size: 18px;
  font-family: 'Cabin', sans-serif;
  background-color: var(--off-white);
  .wrapper {
    min-width: 250px;
    max-width: 2000px;
  }
}

.overlay {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(48, 54, 79, 0.97);
  transition: all 0.2s ease-in-out;
  z-index: 100 !important;
}

.disable__scroll {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

:root {
  --blue: #1ac5f9;
  --dark-blue: #213757;
  --off-white: #f5f7fa;
  --link: #ffffff99;
  --black: #25313c;
}
